:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: grid;
  align-items: stretch;

  grid-template-columns: 1fr 1fr;
}

canvas {
  width: 100vh;
  height: 100vh;
}

.editor {
  background: #1e1e1e;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 400;
  min-height: 240px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;

  overflow: auto;
  max-height: 100vh;

  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

.editor:hover {
  opacity: 1;
}

.editor:focus {
  opacity: 1;
}

.tp-dfwv {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tp-dfwv:hover {
  opacity: 1;
}
